
body {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/shl.png');
    color: #777777;
}


/*erase from here to... */
/*all the way down to here... */

#masthead {
    background: #fff;
    margin: 0px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
    }


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}


#logo {
    width: 250px;
    height: 90px;
    background: #4aaaa5;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}
nav {
    float: right;
    margin-top: 35px;
}
nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}
nav a:first-child {
    border-left: 0 none;
}


.buzz {
    width: 960px;
    background: #ffffff;
    margin: 0 auto;
    background: none;
    padding-top: 120px;
}


.content {
    float: left;
    max-width: 650px;
    border: 1px solid #dddddd;
    overflow: hidden;
    background: white;
    margin-bottom: 30px;
}

.container-2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    font-weight: bold;
    max-width: 597px;
    color: #4aaaa5;
    padding: 25px 0px 25px 0px;
    margin-left: 25px;
    border-bottom: 3px solid #dddddd
}

.center {
    padding: 15px;
}


.first-pic {
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 5px;
    float: left;
    
}

.para {
    color: #95898b;
    line-height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 15px;
}


.side {
    font-family:'Georgia', Times, Times New Roman, serif;
    float: right;
    width: 270px;
    padding: 0px;
    height: 160px;
    background: #fff;
    border: 1px solid #dddddd;
    text-align: center;
    display: inline-block;
}

.side-title {
    font-weight: bold;
    width: 240px;
    border-bottom: 1px solid #cecece;
    font-family:'Georgia', Times, Times New Roman, serif;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 15px;
    padding-bottom: 18px;
    font-size: 20px;
    color: #4aaaa5;
}
.all-icons {
    margin-left: 25px;
}

.icon {
    height: 55px;
    width: 55px;
    float: left;
    padding: 9px;
    margin: 0 auto;
}

.special {
    height: 49.5px;
    width: 49.5px;
    float: left;
    padding-top: 12px;
    margin-left: 9.75px;
}

input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 1px solid #cecece;
}

input[type=submit] {
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: #4aaaa5;
    border: none;
    font-size: 15px;   
    color: #ffffff;
    margin-bottom: 25px;

}


textarea {
    width: 100%;
    max-width: 600px;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 1px solid #cecece;
}

label {
    color: #95898b;
}

.square {
    padding: 0px 25px 0px 25px;

}

.pic-a {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 25px;
}
.pic-a:nth-child(even) {
    margin-right:;
}
.pic-a img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}

.pic-a h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    padding: 15px 0px 15px 0px;
    width: 274px;
    bottom: 20px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}


footer {
    background: #666666;
    padding: 20px;
    clear: both;
    text-align: center;
    height: 37px;
    font-size: 10px;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    margin-top: 10px;

}


.copy {
    color: #ffffff;
    padding-top: 12px;
}
    

@media screen and (max-width: 980px) {
    body {
        width: 100%;
    }
    .masthead {
        width: 100%;
    }

    .container {
        width: 730px;

    }

    .clearfix:after {
        clear: both;
        content: " ";
        display: table;
    }

    /*Why does margin 0 auto not work here... 
    Why is all that stuff crossed out*/
    .buzz {
        width: 730px;
        margin: 0 auto;
        display: block;
        padding-top: 120px;
    }

    .container-2 {
        width: 100%;
        max-width: 360px;
        margin-left: 30px;
    }

    .first-pic { 
        margin: 10px;
        width: 360px;
        height: auto;
    }

    .content {
        max-width: 420px;
        width: 100%;
    }

    .center {
        padding: 20px;
    }
    .para {
        clear: both;
        float: none;
        padding: 10px 10px 0px 10px;
    }


    .side {
        width: auto;
        max-width: none;
        float: right;
        height: 160px;
        margin: 0px 0px 30px 0px;
    }

    .pic-a {
        display: block;
        margin: 0px 30px 30px 30px;
        width: 360px;
    }

    .pic-a h3 {
        width: 360px;
    }

    textarea {
        max-width: 400px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: auto;
    }

    .masthead {
        width: auto;
        max-width: none;

    }

    .container {
        width: auto;
        max-width: none;
    }
    

    #logo {
        width: auto;
        max-width: none;
        padding-right: 20px;
        padding-left: 20px;
    }

    nav {
        max-width: none;
        width: auto;
    }

    .buzz {
        max-width: none;
        width: auto;
        margin: 0 auto;
        display: block;
        padding-top: 120px;
    }

    .content {
        width: auto;
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-2 {
        width: auto;
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .center {
        max-width: none;
        width: auto;
    }
    
    .first-pic { 
        width: 300px;
        height: auto;
        padding: 0px 25px 0px 0px;
        margin: 10px 0px 0px 0px;
    }
    
    .para {
        clear: none;
        width: 100%;
        padding: 5px 5px 0px 0px;
        max-width: 725px;
    }

    .side {

        width: 94%;
        max-width: none;
        float: none;
        height: 160px;
        margin: 0px 0px 30px 20px;
    }

    .side-title {
        font-weight: bold;
        width: auto;
        max-width: none;
        border-bottom: 1px solid #cecece;
        font-family:'Georgia', Times, Times New Roman, serif;
        margin-bottom: 0px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 18px;
        color: #4aaaa5;
        text-align: left;
    }

    .pic-a {
        width: 315px;
        overflow: auto;
        position: relative;
        float: left;
        margin: 25px;
    }

    .pic-a h3 {
        width: 315px;
    }


    .all-icons {
        margin-left: 22px;
    }
    .icon {
        width: 62px;
        height: 62px;
        margin: 20px 5px 0px 0px; 
        padding: 0px;
        float: left;
    }

    .special {
        height: 55.25px;
        width: 55.25px;
        float: left;
        padding-top: 23.5px;
        margin-left: 2.25px;
    }    

    textarea {
        width: 100%;
        max-width: none;
    }

@media screen and (max-width: 640px) {
    body {
        width: auto;
    }
    .masthead {
        width: auto;
        max-width: none;
    }

    .container {
        width: 100%;
        max-width: none;
        overflow: hidden;    
    }

    #logo{
        width: 640px;
        max-width: none;
        text-align: center;
        padding: 0px;
    }

    .clearfix:after {
        clear: both;
        content: " ";
        display: table;
    }


    nav {
        margin: 0;
        max-height: 63px;
        width: auto;
        max-width: none;
        display: inline;
        clear: both;
        float: none;
        overflow: hidden;
    }


    .a {
        color: #999;
        text-decoration: none;
        border-left: 1px solid #efefef;
        line-height: 18px;
        margin-top: 22.5px;
        margin-bottom: 22.5px;
        padding-left: 70px;
        margin-right: 70px;
        width: auto;
    }

    .b {
        color: #999;
        text-decoration: none;
        margin-left: 0px;
        border-left: 1px solid #efefef;
        line-height: 18px;
        margin-top: 22.5px;
        margin-bottom: 22.5px;
        padding-left: 70px;
        margin-right: 60px;
        width: auto;
    }

    nav a:first-child {
        border-left: 0 none;
        margin: 22.5px 70px 22.5px 70px;
    }

    .buzz {
        max-width: none;
        width: auto;
        margin: 0 auto;
        display: block;
        padding-top: 0px;
    }

    .content {
        margin-top: 180px;
        width: auto;
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-2 {
        width: auto;
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .center {
        max-width: none;
        width: auto;
    }
    
    .first-pic { 
        width: 300px;
        height: auto;
        padding: 0px 25px 0px 0px;
        margin: 10px 0px 0px 0px;
    }
    
    .para {
        clear: none;
        width: 100%;
        padding: 5px 5px 0px 0px;
        max-width: 725px;
    }

    .side {

        width: 93%;
        max-width: none;
        float: none;
        height: 160px;
        margin: 0px 70px 30px 20px;
    }

    .side-title {
        font-weight: bold;
        width: auto;
        max-width: none;
        border-bottom: 1px solid #cecece;
        font-family:'Georgia', Times, Times New Roman, serif;
        margin-bottom: 0px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 18px;
        color: #4aaaa5;
        text-align: left;
    }

    .pic-a {
        width: auto;
        max-width: none;
        overflow: auto;
        position: relative;
        float: left;
        margin: 25px;
    }

    .pic-a h3 {
        width: 100%;
        max-width: none;   
    }


    .all-icons {
        margin-left: 22px;
    }
    .icon {
        width: 62px;
        height: 62px;
        margin: 20px 5px 0px 0px; 
        padding: 0px;
        float: left;
    }

    .special {
        height: 55.25px;
        width: 55.25px;
        float: left;
        padding-top: 23.5px;
        margin-left: 2.25px;
    }    

    textarea {
        width: 100%;
        max-width: none;
    }
}